@import "tailwindcss";
@import "./reset.css";

@theme {
  --color-background: #0e0f1c;
  --color-background-hover: #2f31454a;
  --color-primary: #f8f9fa;
  --color-accent: #6da2ff;
  --color-muted: #aaafc3;
  --color-highlight: #6da2ff;
  --color-border: #2a2d3a;
  --color-accessibility-orange: #ffca6d;

  --font-inter: var(--font-inter), sans-serif;
  --font-ibm-plex-mono: var(--font-ibm-plex-mono), ui-monospace;

  --shadow-navbar: 0 15px 25px 0px var(--tw-shadow-color, rgb(0 0 0 / 0.3));

  /* Animations */
  --animate-slide-from-b: slide-from-b 2s ease;
  @keyframes slide-from-b {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  --animate-fade-down: fade-down 0.75s ease forwards;
  @keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(max(-100%, -50px));
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fade-up: fade-up 0.75s ease forwards;
  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(min(100%, 50px));
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fade-out: fade-out 3s linear forwards;
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@layer base {
  *:focus-visible {
    @apply outline-accessibility-orange;
  }
}
