@import "tailwindcss";

@theme {
  --color-background: #0e0f1c;
  --color-primary: #4c00ff;
  --color-accent: #3b82f6;
  --color-highlight: #7c3aed;
  --color-text: #f4f4f5;
  --color-muted: #a1a1aa;
  --color-border: #27272a;

  --spacing-screen-xl: 1280px;
}
